

body {
	background-color: #EB5656;
	width: 100%;

}
.title{
	color: #313131;
	font-size: 90px;
	font-weight: bold;
	-webkit-text-stroke: 1px #EB5656;
	text-shadow:
    -2px -2px 0 #313131,
    2px -2px 0 #313131,
    -2px 2px 0 #313131,
    2px 2px 0 #313131;  

}
.top-block{
	width: 100%;
	height: 40px;
	background-color: #313131;
	margin-bottom: 15px;
	border-bottom: 4px double #EB5656;
}

.circle{
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 120px;
	border: 4px double #EB5656;
	font-size: 30px;
	color: #EB5656;
	line-height: 135px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #EB5656;
	background: #313131;
}

.circle.hover{
	border:4px double #bbb;
	color:#EB5656;
	text-decoration:none;
	background:#e6e6e6;
}

#content{
	position: relative;
	width: 60%;
	height: 80%;
	background-color: none;
	top: 150px;
	right: 175px;
	border-radius: 5px;

}

.button{
	background-color: #EB5656;
}
